<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thumbnail Viewer</title>
</head>
<body>
    <h1>List of Photo Directories</h1>

    {% for dir in dirs %}
    <div>
        <a href="/folders/{{ dir.id }}">{{ dir.path }}</a>
    </div>
    {% endfor %}

</body>
</html>